.flamesContainer {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 480px;
    height: 100vh;
    pointer-events: none;
    z-index: 100;
}

.flame {
    animation: flicker 0.4s ease-in-out infinite alternate;
}

.flamesTop {
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    height: 60px;
    display: flex;
    justify-content: space-between;
}

.flamesTop .flame {
    width: 50px;
    height: 60px;
    margin: 0 -8px;
    filter: drop-shadow(0 0 8px rgba(255, 107, 53, 0.8));
}

.flamesBottom {
    position: absolute;
    bottom: -5px;
    left: -5px;
    right: -5px;
    height: 60px;
    display: flex;
    justify-content: space-between;
}

.flamesBottom .flame {
    width: 50px;
    height: 60px;
    margin: 0 -8px;
    filter: drop-shadow(0 0 8px rgba(255, 107, 53, 0.8));
}

.flamesLeft {
    position: absolute;
    left: -5px;
    top: 55px;
    bottom: 55px;
    width: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flamesLeft .flame {
    width: 60px;
    height: 50px;
    margin: -8px 0;
    filter: drop-shadow(0 0 8px rgba(255, 107, 53, 0.8));
}

.flamesRight {
    position: absolute;
    right: -5px;
    top: 55px;
    bottom: 55px;
    width: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flamesRight .flame {
    width: 60px;
    height: 50px;
    margin: -8px 0;
    filter: drop-shadow(0 0 8px rgba(255, 107, 53, 0.8));
}

@keyframes flicker {
    0% {
        opacity: 0.95;
        transform: scale(1);
    }

    50% {
        opacity: 1;
        transform: scale(1.05);
    }

    100% {
        opacity: 0.9;
        transform: scale(0.98);
    }
}