.flamesContainer {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 480px;
    height: 100vh;
    pointer-events: none;
    z-index: 100;
}

.flame {
    animation: flicker 0.5s ease-in-out infinite alternate;
}

.flamesTop {
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    height: 80px;
    display: flex;
    justify-content: space-between;
}

.flamesTop .flame {
    width: 70px;
    height: 80px;
    margin: 0 -10px;
    filter: drop-shadow(0 0 10px rgba(255, 107, 53, 0.9));
}

.flamesBottom {
    position: absolute;
    bottom: -10px;
    left: -10px;
    right: -10px;
    height: 80px;
    display: flex;
    justify-content: space-between;
}

.flamesBottom .flame {
    width: 70px;
    height: 80px;
    margin: 0 -10px;
    filter: drop-shadow(0 0 10px rgba(255, 107, 53, 0.9));
}

.flamesLeft {
    position: absolute;
    left: -10px;
    top: 70px;
    bottom: 70px;
    width: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flamesLeft .flame {
    width: 80px;
    height: 70px;
    margin: -10px 0;
    filter: drop-shadow(0 0 10px rgba(255, 107, 53, 0.9));
}

.flamesRight {
    position: absolute;
    right: -10px;
    top: 70px;
    bottom: 70px;
    width: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flamesRight .flame {
    width: 80px;
    height: 70px;
    margin: -10px 0;
    filter: drop-shadow(0 0 10px rgba(255, 107, 53, 0.9));
}

@keyframes flicker {
    0% {
        opacity: 0.9;
        transform: scale(1);
    }

    50% {
        opacity: 1;
        transform: scale(1.08);
    }

    100% {
        opacity: 0.85;
        transform: scale(0.98);
    }
}